
h3 { 
	font-family:"verdana", cursive; font-size:40px; color:black; 
	border:2px solid black;
	width:400px;
	height:9pk;
	background-color:rgb(237, 231, 217);
    	size:1.5em;
				   
				   }

body {
	background-color:rgb(213, 160, 33);
}

.photo {
	border:2px solid black;
	width:200px;
	
	
}

.initial{
	font-size:1.5em;
}
h2:hover {
    background-color: rgb(213, 160, 33);
    color: white;
    border-color: white;
}








