
h3 { font-family:"verdana", cursive; font-size:40px; color:black; 
				border:2px solid black;
				width:350px;
				height:8pk;
				background-color:rgb(240, 201, 135);
				   
				   }

.initiale { font-family:"verdana", cursive; font-size:40px; color:black;
				border:2px solid black;
				width:350px;
				height:8pk;
				background-color:rgb(240, 201, 135);
}

